*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    height: 7rem;
}
.nav--logo{
    position: relative;
    bottom: 100px;
    right: 50px;
    width: 300px;
}
.img--hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hero h1, .hero p{
    margin-left: 30px;
    margin-right: 30px;
}
.hero>h1{
    font-size: 4rem;
}
.hero>p{
    font-size: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    height: 600px;

    margin: 30px 30px 30px;
    border-radius: 10px;
    /* background-color: blue; */
}
.card--image{
    width: inherit;
    height: 500px;
    border-radius: 10px;

}
.card--stats{
    display: flex;
    font-size: 1.5rem;
    margin: 10px 10px 0px 10px;
}
.card--stats img{
    width: 30px;
    height: 29px;
    margin-right: 5px;
    margin-top: 2px;
}
.card p {
    font-size: 1.3rem;
    margin: 10px 10px 10px 10px;
}
.bold{
    font-weight: bold;
}

.main--card{
    display: flex;
    align-items: center;
    justify-content: center;
}